<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 jumbotron-title text-right">Our Registry</h1>
  </div>
</div>
<div class="container-fluid default-background">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-3">Thank you!</h1>
      <p class="lead text-justify">
        First and foremost, we would like to thank you for stopping by our registry. We are very fortunate to have the necesities,
        so your precense at our wedding is all we truly like. If you were thinking about getting us a gift, below are a few
        ideas.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="card col-md-4">
      <img class="card-img-top" src="/assets/cashapp.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
          bit longer.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/venmo.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="/assets/zelle.jpg" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer
          content than the first to show that equal height action.</p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>