<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 jumbotron-title text-right">Our Registry</h1>
  </div>
</div>
<div class="container-fluid default-background">
  <div class="row">
    <div class="col-md-12">
      <h1 class="display-3">Thank you!</h1>
      <p class="lead text-justify">
        First and foremost, we'd just like to say your presence at our special day is all we ask for. We are travelling to Miami in car so we don't have a lot of space, but if you'd like to get us a gift, below are some places where we've registered.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 my-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Cash App</h3>
          <p class="card-text">You can transfer money using your debit card.</p>
          <a href="https://cash.me/$hectotruj" class="btn btn-primary">Use Cash App</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 my-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Venmo</h3>
          <p class="card-text">You can transfer money using your debit card.</p>
          <a href="https://venmo.com/hectotruj" class="btn btn-primary">Use Venmo</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 my-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">Zelle</h3>
          <p class="card-text">You can transfer money from your banks website or app to the email address <strong>hectotruj@gmail.com</strong>.</p>
          <a href="https://www.zellepay.com/participating-banks-and-credit-unions" class="btn btn-primary" target="_blank">View List of Banks</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 my-3">
      <div class="card">
        <div class="card-block">
          <h3 class="card-title">In person</h3>
          <p class="card-text">We will have a place where you can deposit envelopes at the venue. </p>
        </div>
      </div>
    </div>
  </div>
</div>