<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 jumbotron-title text-right">Our Story</h1>
  </div>
</div>
<div class="container-fluid default-background">
  <div class="row">
    <div class="col-md-6">
      <h1 class="display-3">Hector's Story</h1>
      <p class="lead text-justify"> &nbsp;&nbsp;&nbsp; It was mid-day in 8th grade, when a girl I barely knew inexplicably had my homework that I finished
        the night before. The oddity wasn’t that I was missing my homework, because more often than not I would hand it to
        a friend of mine; but how did this other girl get my homework? And, how many people did I ‘help’ with my homework
        between the time I gave it to my friend and the time the girl returned it to me? I didn’t give it much thought, I
        didn’t really care. I’m glad that happened because the girl, Sharlene, and I became good friends that year. So much
        so, that she invited me to her birthday party that year.
        <br><br> &nbsp;&nbsp;&nbsp; Two years later, she asked me a surprising questions, “Would you be my partner at my
        15’s?” Surprising because: 1. I don’t know how to dance and 2. she should have picked someone she had feelings for.
        Of course I said yes, what an honor! Unfortunately, my lack of dancing abilities quickly became evident, and soon
        enough she had a new partner; but thats not important. What IS important, is that she left me intrigued. Although
        I may have been misguided, I may have thought there was something where there wasn’t, since the day she chose me
        to be her partner I wondered is there could be more to our friendship. But why would she pick a dancing catastrophe
        to be her partner? I mean, she had seen me dancing before.
        <br><br> &nbsp;&nbsp;&nbsp; I looked to a wise friend for some guidance, the one that took my homework in 8th grade.
        I don't remember how the conversation went, but the conclusion was that I should speak my mind. So on Valentine’s
        Day of 2008 I did; and, it was the best decision I ever made.
        <br><br> &nbsp;&nbsp;&nbsp; Sometimes I find it baffling how long we have been together, the places we’ve visited,
        food we’ve tried, decision we have made. By now our friend moved to North Carolina, and that opened us up to new
        friendships and Friday night Starbucks conversations. In retrospect, I wish I would’ve kept more in contact with
        our North Carolina friend, but we were young, and you don't really know what you have until you lose it, or in our
        case until you find it again.
        <br><br> &nbsp;&nbsp;&nbsp; Throughout college we hung out with one of the coolest group of friends anyone can ask
        for. Not because they were connected or because they partied, but because they were there for us whenever we needed
        them. Wether it was a quick ride, or a deep conversation, having our friends made college the fun, growing experience
        it was meant to be.
        <br><br> &nbsp;&nbsp;&nbsp; But things come to an end, and college is no different. I was fortunate enough to find
        an awesome job at a nice company, but in a different state. We knew we could make it work, but not seeing Sharlene
        for weeks at a time was difficult. Everything in life has its ups and downs, and this was no exception. I moved to
        North Carolina for my job, and I love where I live and I knew Sharlene and I would be happy here. With the help of
        our friends, I found the perfect ring, and on January 7th, here in North Carolina, I got on one knee and asked her
        if she would marry me, and she said… well I don't know what she said, she asked a lot of questions. But in the end
        she said “Yes!” with a giant smile, admiring her ring.
        <br><br> &nbsp;&nbsp;&nbsp; Nowadays we live happily with our pups, working hard to make our dreams happen. And on
        our off time? Believe it or not, of all the towns in the world, our math friend and us live two condominiums away.
        I think its safe to say we don't have a dull week, and the adventures keep coming. I don't know what’s going to happen
        tomorrow, but I sure can't wait to find out.
      </p>
    </div>
    <div class="col-md-6">
      <h1 class="display-3">Sharlene's Story</h1>
      <p class="lead text-justify"> &nbsp;&nbsp;&nbsp; Back from summer vacation, we started our first day of 8th grade together. Sitting in alphabetical
        order Sharlene sat in front of Hector in their Algebra 1 class. Hector had attended Rockway Middle since the beginning;
        however, Sharlene was new so she didn’t know anyone. Behind Hector sat Stephanie, whom he knew from the previous
        year’s chess class. As the first few days of the new school year went by, Stephanie decided to skip over Hector and
        talk to Sharlene. That was when Stephanie introduced Sharlene to Hector. After that day, Hector and Sharlene became
        best friends. They attended different high schools but that didn’t stop them from talking almost every day via MSN
        messenger and AIM (talk about a throwback!).
        <br><br> &nbsp;&nbsp;&nbsp; Two years passed and Sharlene asked Hector to be her dancing partner for her Sweet 16’s
        birthday party, she didn’t trust any other guy as much as she trusted him. Hector, confused as to why someone would
        ask him for such a special request, knowing he didn’t know how to dance, accepted her offer. Prior to the party,
        they had rehearsals every week for 2 months. During this time, Hector saw more than a friend in Sharlene. Sharlene
        had also started to see more to him. But both stayed quiet and not said a word. Her party came and went, and neither
        had said anything to each other.
        <br><br> &nbsp;&nbsp;&nbsp; One day, they were chatting and he decided to profess his feelings for her. Sharlene
        was in shock and asked if he was sure he was writing to the right person about this. A few weeks later, with the
        help of Stephanie, he got the idea of asking her out.
        <br><br> &nbsp;&nbsp;&nbsp; On Valentine’s Day, February 14, 2008, he asked her to his Valentine/Girlfriend via a
        special E-Card (Throwback!). Apparently, Sharlene’s whole family was in on that plan since they hovered over her
        shoulder as she opened the card (Embarrassing!). From that day on, they became inseparable. They saw each other as
        much as possible, spoke everyday (even when grounded, they found a way to talk), went on vacations together with
        their families, attended church, and went to family gatherings. After nine years together, they had pretty much done
        everything together.
        <br><br> &nbsp;&nbsp;&nbsp; In the summer of 2016, Hector graduated as a Computer Engineer from Florida International
        University and had a job offer in North Carolina. He accepted hesitant to leaving Sharlene behind. However, she knew
        she would be doing the same upon graduating. Sharlene wanted to attend her Master’s Degree outside of Miami. With
        that in mind, Hector left to North Carolina that summer. Both very devastated only looked forward til the next day
        they would be together. Each made a promise to each other that they wouldn’t go more than 2 weeks without visiting.
        With that said, Hector came to Miami once a month, and Sharlene (scared that she had never traveled alone) did the
        same. Upon Sharlene graduating with her Bachelor’s in Health Service Administration from FIU, she said her goodbye’s
        at work, to her family, and to her friends. She decided to follow Hector to North Carolina and enrolled in North
        Carolina State University to begin her courses as an Occupational Therapist.
        <br><br> &nbsp;&nbsp;&nbsp; On January 3, 2017 she became an official resident of North Carolina and moved with Hector
        into their new apartment with their puppies, Lucky and Mikey. Their best friends Alex, Elsa, and Gigi helped Sharlene
        with the move (Or so she thought that was the reason). She didn’t know that Hector had been planning with Elsa and
        Stephanie on proposing to her upon moving in with him. They discussed the ring situation a million times, how he’d
        propose, and when. They had it all planned out.
        <br><br> &nbsp;&nbsp;&nbsp; On January 7th, we had a snowstorm (although we had no idea that we were under a storm)
        and we decided to head out to Yates-Mill Park to explore. Unfortunately due to the storm, Yates-Mill was closed but
        that didn’t stop Hector. The key word “Peaches” was mentioned and that gave everyone (Juan, Elsa, Alex, and Gigi)
        enough time to get the camera’s ready to record and take pictures of the moment. He got down on one knee and asked
        her to marry him. Sharlene, shocked, said to him “Are you serious?! You’re kidding!” He said “No”, put the ring on
        her finger, and picked her up into a bear hug. Between all the emotions, Sharlene forgot to say “Yes!”, so Hector
        asked again to make sure. They couldn’t be happier. They had a beautiful engagement; the white-snowy day couldn’t
        have made the scene more beautiful. They all went out to celebrate the engagement that night at an Italian Restaurant
        in downtown (again, due to the snow, this was the ONLY restaurant open). Everyone was so happy that after 9 years
        of Sharlene and Hector being together, they would be a part of this special moment.
        <br><br> &nbsp;&nbsp;&nbsp; Now, we’re here and planning our wedding! We would be delighted to have you be a part
        of our special day!




      </p>
    </div>
  </div>
</div>