<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3 jumbotron-title text-right">Our Story</h1>
  </div>
</div>
<div class="container-fluid my-5 py-5 default-background">
  <div class="row">
    <div class="col-md-12 my-5 py-5">
      <p class="lead"> &nbsp;&nbsp;&nbsp; It was mid-day in 8th grade, when a girl I barely knew inexplicably had my homework that I finished the night before.
        The oddity wasn’t that I was missing my homework, because more often than not I would hand it to a friend of mine;
        but how did this other girl get my homework? And, how many people did I ‘help’ with my homework between the time
        I gave it to my friend and the time the girl returned it to me? I didn’t give it much thought, I didn’t really care.
        I’m glad that happened because the girl, Sharlene, and I became good friends that year. So much so, that she invited
        me to her birthday party that year.
        <br><br> &nbsp;&nbsp;&nbsp;  Two years later, she asked me a surprising questions, “Would you be my partner at my 15’s?” Surprising because:
        1. I don’t know how to dance and 2. she should have picked someone she had feelings for. Of course I said yes, what
        an honor! Unfortunately, my lack of dancing abilities quickly became evident, and soon enough she had a new partner;
        but thats not important. What IS important, is that she left me intrigued. Although I may have been misguided, I
        may have thought there was something where there wasn’t, since the day she chose me to be her partner I wondered
        is there could be more to our friendship. But why would she pick a dancing catastrophe to be her partner? I mean,
        she had seen me dancing before.
        <br><br> &nbsp;&nbsp;&nbsp;  I looked to a wise friend for some guidance, the one that took my homework in 8th grade. I don't remember how
        the conversation went, but the conclusion was that I should speak my mind. So on Valentine’s Day of 2008 I did; and,
        it was the best decision I ever made.
        <br><br> &nbsp;&nbsp;&nbsp;  Sometimes I find it baffling how long we have been together, the places we’ve visited, food we’ve tried, decision
        we have made. By now our friend moved to North Carolina, and that opened us up to new friendships and Friday night
        Starbucks conversations. In retrospect, I wish I would’ve kept more in contact with our North Carolina friend, but
        we were young, and you don't really know what you have until you lose it, or in our case until you find it again.
        <br><br> &nbsp;&nbsp;&nbsp;  Throughout college we hung out with one of the coolest group of friends anyone can ask for. Not because they
        were connected or because they partied, but because they were there for us whenever we needed them. Wether it was
        a quick ride, or a deep conversation, having our friends made college the fun, growing experience it was meant to
        be.
        <br><br> &nbsp;&nbsp;&nbsp;  But things come to an end, and college is no different. I was fortunate enough to find an awesome job at a nice
        company, but in a different state. We knew we could make it work, but not seeing Sharlene for weeks at a time was
        difficult. Everything in life has its ups and downs, and this was no exception. I moved to North Carolina for my
        job, and I love where I live and I knew Sharlene and I would be happy here. With the help of our friends, I found
        the perfect ring, and on January 7th, here in North Carolina, I got on one knee and asked her if she would marry
        me, and she said… well I don't know what she said, she asked a lot of questions. But in the end she said “Yes!” with
        a giant smile, admiring her ring.
        <br><br> &nbsp;&nbsp;&nbsp;  Nowadays we live happily with our pups, working hard to make our dreams happen. And on our off time? Believe
        it or not, of all the towns in the world, our math friend and us live two condominiums away. I think its safe to
        say we don't have a dull week, and the adventures keep coming. I don't know what’s going to happen tomorrow, but
        I sure can't wait to find out.
      </p>
    </div>
  </div>
</div>