<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 jumbotron-title">WE <br>ARE <br>GETTING <br>MARRIED!</h1>
    </div>
</div>
<div class="container-fluid my-5 py-5">
    <div class="row">
        <div class="col-md-12 my-5 py-5">
            <h1 class="text-center display-1 wedding-date">Novemeber 25, 2017</h1>
            <h3 class="text-center display-4">MIAMI, FL</h3>
        </div>
    </div>
</div>
<div class="container-fluid navy-background">
    <div class="row">
        <div class="col-md-7">
            <div class="container-fluid">
                <div class="row">
                    <h1 class="text-center col-md-12 display-2 my-5">Our Celebration</h1>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3>St Raymond of Peñafort Catholic Church</h3>
                        <p>We are very excited to </p>
                    </div>
                    <div class="col-md-6">
                        <h3>The Club of Knights</h3>
                        <p>Some pariojdoifj woefj oiwhdfuohwduhaoshdo asjdi afiuhsdo fhowegui wgdv fiuvgois fuweg iuycgwe uweg
                            cuwgeuycg weucgwug cuiyw gecug weuyc gwueycg uwyeg cyugweu guewgcuyweg fugweufgiew gfuiy gweuf
                            guyiwe gfyuw egfuy weygfuywg efiuwebfuwb icbwu icbiwbeckwuebckwbeyicbwuec kiewciwe bicubuwei</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="container-fluid">
                <div class="row">
                    <h1 class="text-center col-md-12 display-2 my-5 story-title">Our Story</h1>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>Some pariojdoifj woefj oiwhdfuohwduhaoshdo asjdi afiuhsdo fhowegui wgdv fiuvgois fuweg iuycgwe uweg
                            cuwgeuycg weucgwug cuiyw gecug weuyc gwueycg uwyeg cyugweu guewgcuyweg fugweufgiew gfuiy gweuf
                            guyiwe gfyuw egfuy weygfuywg efiuwebfuwb icbwu icbiwbeckwuebckwbeyicbwuec kiewciwe bicubuwei</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>