<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3 jumbotron-title">WE <br>ARE <br>GETTING <br>MARRIED!</h1>
    </div>
</div>
<div class="container-fluid my-5 py-5 default-background">
    <div class="row">
        <div class="col-md-12 my-5 py-5">
            <h1 class="text-center display-1 cursive">Novemeber 25, 2017</h1>
            <h3 class="text-center display-4">MIAMI, FL</h3>
        </div>
    </div>
</div>
<div class="container-fluid navy-background">
    <div class="row">
        <div class="col-md-12 py-5">
            <div class="container-fluid">
                <div class="row">
                    <h1 class="text-center display-3 col-md-12 my-2">The wedding</h1>
                </div>
                <div class="row">
                    <div class="col-md-6 my-5 text-center">
                        <h1 class="my-3">Ceremony </h1>
                        <p class="text-center col-md-12 lead">St Raymond of Pe&#241;afort Catholic Church</p>
                        <p class="text-center col-md-12 lead">6:00PM</p>
                        <a class="btn btn-primary" href="#" role="button">Directions</a>
                    </div>
                    <div class="col-md-6 my-5 text-center">
                        <h1 class="my-3">Reception </h1>
                        <p class="text-center col-md-12 lead">The Club of Knights</p>
                        <p class="text-center col-md-12 lead">Immediately after ceremony - 11:30PM</p>
                        <a class="btn btn-primary" href="#" role="button">Directions</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <a class="btn btn-primary btn-lg" routerLink="/wedding" role="button">More Information</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid default-background">
    <div class="row">
        <h1 class="text-center col-md-12 display-2 my-5 story-title">Our Story</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            <blockquote class="blockquote">
                <p class="text-truncate text-center lead"> It was mid-day in 8th grade, when a girl I barely knew inexplicably had my homework that I finished the night before. The oddity wasn’t that I was missing my homework, because more often than not I would hand it to a friend of mine; but how did this other girl get my homework?
                </p>
                <footer class="blockquote-footer">Hector T.</footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <blockquote class="blockquote blockquote-reverse">
                <p class="text-truncate text-center lead"> Back from summer vacation, we started our first day of 8th grade together. Sitting in alphabetical order Sharlene sat in front of Hector in their Algebra 1 class. 
                </p>
                <footer class="blockquote-footer">Sharlene T.</footer>
            </blockquote>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center py-5">
            <a class="btn btn-primary btn-lg" routerLink="/story" role="button">Read Our Story</a>
        </div>
    </div>
</div>