<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Fluid jumbotron</h1>
        <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <h2>Something</h2>
            <p>Some pariojdoifj woefj oiwhdfuohwduhaoshdo asjdi afiuhsdo fhowegui wgdv fiuvgois fuweg iuycgwe uweg cuwgeuycg
                weucgwug cuiyw gecug weuyc gwueycg uwyeg cyugweu guewgcuyweg fugweufgiew gfuiy gweuf guyiwe gfyuw egfuy weygfuywg
                efiuwebfuwb icbwu icbiwbeckwuebckwbeyicbwuec kiewciwe bicubuwei</p>
        </div>
        <div class="col-md-7">
            <h2>Something</h2>
            <p>Some pariojdoifj woefj oiwhdfuohwduhaoshdo asjdi afiuhsdo fhowegui wgdv fiuvgois fuweg iuycgwe uweg cuwgeuycg
                weucgwug cuiyw gecug weuyc gwueycg uwyeg cyugweu guewgcuyweg fugweufgiew gfuiy gweuf guyiwe gfyuw egfuy weygfuywg
                efiuwebfuwb icbwu icbiwbeckwuebckwbeyicbwuec kiewciwe bicubuwei</p>
        </div>
    </div>
</div>